/* Estilos para o contêiner principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para o título */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para os parágrafos */
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Estilos para o total de preço */
  .total-price {
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Estilos para a cor do texto */
  .text-primary {
    color: #007bff; /* Azul */
  }
  
  .text-secondary {
    color: #6c757d; /* Cinza */
  }
  