/* FooterStyle.css */

.FooterContainer {
  background-color: #7c6a46;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 52px 60px;
  text-align: justify;
}

.MainElementsContainer {
  display: flex;
  max-width: 1074px;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.ColumnQuickroom,
.ColumnCompany,
.ColumnNewsletter,
.ColumnSocialMedia {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 52%;
  margin-left: 2px;
  margin-right: 60px;
  
}

.Title {
  font-weight: bold;
  font-size: 24px;
  color: white;
  margin-right: 40px;
}

.CompanyInfo,
.CompanyLinks {
  color: white;
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  list-style-type: none;
  line-height: 1.5;
}

.SocialMedia {
  color: white;
  font-size: 14px;
  text-align: justify;
  margin-top: 10px;
  margin-left: 90px;
  margin-right: 20px;
  list-style-type: none;
  line-height: 1.5;
}

.CompanyLinks ul,
.SocialMedia ul {
  padding: 0px;
  margin: 0px;
   
}

.CompanyLinks
 {
  margin: 0px 50px 0px 0px;  
}


.CompanyLinks a,
.SocialMedia a {
  color: white; /* Define a cor do texto dos links */
  text-decoration: none; /* Remove o sublinhado padrão dos links */
}

.NewsletterContainer {
  border-radius: 10px;
  background-color: #fff;
  margin-top: 24px;
  padding: 6px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NewsletterTitle {
  color: #7c6a46;
  font-weight: bold;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 20px;
}

.FormContainer {
  display: flex;
  gap: 20px;
}

.EmailInput {
  background-color: #fff;
  color: #7c6a46;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 5px;
}

.SubmitButton {
  background-color: #7c6a46;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
}

.FooterInfo {
  color: white;
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
  font-size: 14px;
}
