

.luxury-rooms-container {
  
    background-size: cover;
    background-position: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
    margin-left: 0px;
    margin-right: 0px;
   
  }
  
  .luxury-rooms-header {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    color: white;
    position: absolute;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 3px;
    text-align: center;
    margin-top: 40px;
    width: 100%;
 
   
  }
  
  .luxury-rooms-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 650px;
    width: auto;
    margin-top: 10px;
    
  }
  
  .luxury-room {
    flex: 1;
   
  }
  
  .image-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
   
  }
  
  .room-image {
    width: 100%;
    height: auto;
  }
  
  .room-details {
    padding: 10px;
    text-align: center;
  }
  